.create {

    width: 40rem;

    &__title {
        font-size: 3rem;
        font-weight: bold;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    p { margin-bottom: 2rem;}

    &__error {
        font-style: italic;
        color: red;

        &:hover {
            cursor: pointer;
        }
    }
}

.form {

    width: 100%;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }

    &__text {
        text-align: left;
        margin-right: 2rem;
    }

    &__input {
        text-align: right;
    }
}

.wordle-lettering__custom {

    text-align: center;

    & > * {
        width: 1.5rem;
    }

    &:hover {
        cursor: pointer;

        .letter_1 { animation-delay: 0s; }
        .letter_2 { animation-delay: .2s; }
        .letter_3 { animation-delay: .4s; }
        .letter_4 { animation-delay: .6s; }
        .letter_5 { animation-delay: .8s; }
        .letter_6 { animation-delay: 1s; }

        & > * {
            background-color: var(--main-darkyellow);
            animation: scalePulse .8s ease-in-out;
            animation-iteration-count: 1;
            animation-direction: forwards;
        }

    }
}
