<div class="create">
    <h2 class="create__title">Create New League</h2>
    <p>
        After you have created a new league a rnadomly generated ID and link will be provided to you. This you may distribute to anybody you want to join your league.
    </p>

    <form class="form">
        <div class="form__row">
            <div class="form__text">League Name</div>
            <div class="form__input">
                <input type="text" class="form__input--textbox">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text"></div>
            <div class="form__input">
                <button class="form__input--button" type="submit">Create new league</button>
            </div>
        </div>
    </form>
</div>
