<div class="create">

    <div class="create__header">
        <h2 class="create__title">Create League</h2>
        <button class="input__button" routerLink="">Main Menu</button>
    </div>
    <p>
        After you have created a new league a randomly generated ID and link will be provided to you. This you may distribute to anybody you want to join your league.
    </p>

    <form class="form">
        <div class="form__row">
            <div class="form__text">League Name</div>
            <div class="form__input">
                <input type="text" class="input__text">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text"></div>
            <div class="form__input">
                <button style="visibility: hidden;" type="submit" #submitButton>Create new league</button>
                <div (click)='submitButton.click()'>
                    <div class="wordle-lettering wordle-lettering__custom">
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_1">C</div>
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_2">R</div>
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_3">E</div>
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_4">A</div>
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_5">T</div>
                        <div class="wordle-lettering__letter wordle-lettering__letter--green letter_6">E</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
