.menu {
    position: relative;
    opacity: 0;

    &__link {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15rem;
        // background-color: var(--main-darkgreen);
        border-bottom: .2rem solid var(--main-green);
        border-radius: 1rem;
        transition: all .2s;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        // box-shadow: 0 .3rem .6rem rgba(black, .5);
        text-decoration: none;
        // color: var(--eggshell);

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &--active {
            // background-color: var(--main-yellow);
            color: var(--main-darkgreen);
            font-weight: bold;
        }

        &:active {
            transform: translateY(-.2rem);
        }

        &:hover {
            background-color: var(--main-green);
            box-shadow: 0 .6rem .9rem rgba(black, .7);
            font-weight: bold;
            color: var(--eggshell);
            transform: scale(1.05);
        }
    }

    &__animation {
        animation: opacity0to100 1s ease-in-out 4s 1 forwards;
    }

    &__noanimation {
        opacity: 1;
    }
}
