<div class="fourohfour">
    <div class="fourohfour__word">
        <div class="fourohfour__word--letter fourohfour__word--letter--gray fourohfour__word--1">E</div>
        <div class="fourohfour__word--letter fourohfour__word--letter--gray fourohfour__word--2">R</div>
        <div class="fourohfour__word--letter fourohfour__word--letter--gray fourohfour__word--3">R</div>
        <div class="fourohfour__word--letter fourohfour__word--letter--gray fourohfour__word--4">O</div>
        <div class="fourohfour__word--letter fourohfour__word--letter--gray fourohfour__word--5">R</div>
    </div>
    <div class="fourohfour__notfound">
        That address doesn't match any of the characters we know!
    </div>
</div>
