<div class="howtoplay">
    <div class="howtoplay__top">
        <div class="league">

            <div class="league__header">
                <h2 class="league__name">The Fun Games</h2>
            </div>

            <table class="league__table">

                <colgroup>
                    <col span="1" style="width: 40%; text-align: left;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 10%;">
                </colgroup>

                <thead>
                    <th style="text-align: left;">Name</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>Fail</th>
                    <th>Points</th>
                </thead>
                <tr>
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Dave</div>
                            <img src="../../assets/icons/trophy-silver.png" alt="Previous League Runner Up">
                        </div>
                    </td>
                    <td><div>0</div></td>
                    <td><div>2</div></td>
                    <td><div>5</div></td>
                    <td><div class="league__today">3</div></td>
                    <td><div>3</div></td>
                    <td><div>0</div></td>
                    <td><div>1</div></td>
                    <td>21</td>
                </tr>
                <tr class="league__loggeduser">
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Jeremy</div>
                        </div>
                    </td>
                    <td><div>0</div></td>
                    <td><div>1</div></td>
                    <td><div>3</div></td>
                    <td><div class="league__today">6</div></td>
                    <td><div>4</div></td>
                    <td><div>2</div></td>
                    <td><div>0</div></td>
                    <td>15</td>
                </tr>
                <tr>
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Alex</div>
                            <img src="../../assets/icons/trophy-gold.png" alt="Previous League Winner">
                        </div>
                    </td>
                    <td><div>1</div></td>
                    <td><div>0</div></td>
                    <td><div>3</div></td>
                    <td><div>2</div></td>
                    <td><div>3</div></td>
                    <td><div class="league__today">5</div></td>
                    <td><div>2</div></td>
                    <td>8</td>
                </tr>
            </table>
        </div>

        <div class="howtoplay__top--title">
            Create a league!
        </div>

    </div>



    <div class="howtoplay__middle">

        <div class="howtoplay__middle--title">
            Play the wordle!
        </div>

        <div class="wordle-game">
            <div class="wordle-lettering">
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">A</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">W</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">F</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">U</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">L</div>
            </div>

            <div class="wordle-lettering">
                <div class="wordle-lettering__letter wordle-lettering__letter--yellow">D</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">A</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">T</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--yellow">H</div>
            </div>

            <div class="wordle-lettering">
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">C</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--yellow">H</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">I</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--yellow">D</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
            </div>

            <div class="wordle-lettering">
                <div class="wordle-lettering__letter wordle-lettering__letter--gray">W</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">D</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">G</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
            </div>

            <div class="wordle-lettering">
                <div class="wordle-lettering__letter wordle-lettering__letter--green">H</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">D</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">G</div>
                <div class="wordle-lettering__letter wordle-lettering__letter--green">E</div>
            </div>
        </div>

    </div>

    <div class="howtoplay__bottom">

        <div class="add-results">

            <div class="add-results__header">
                <div class="add-results__title">Submit Wordle Scores</div>
            </div>

            <div class="show">
                <div class="add-results__result">
                    <div class="add-results__day">
                        <div class="add-results__day--date">Sat 20</div>
                        <div class="add-results__day--wordle">#324</div>
                    </div>
                    <div class="add-results__score wordle-lettering">
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--1">1</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--2">2</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--3">3</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--4">4</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--5">5</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--6">6</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--X">X</div>
                    </div>
                </div>
            </div>
            <div class="show">
                <div class="add-results__result">
                    <div class="add-results__day">
                        <div class="add-results__day--date">Sun 21</div>
                        <div class="add-results__day--wordle">#325</div>
                    </div>
                    <div class="add-results__score wordle-lettering">
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--3">1</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--X">2</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--1">3</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--6">4</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--2">5</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--4">6</div>
                        <div class="add-results__score--number wordle-lettering__letter wordle-lettering__letter--5">X</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="howtoplay__bottom--title">
            Submit your score!
        </div>

    </div>
</div>
