<div class="rules">
    <div class="rules__step">
        <div class="rules__step--text">Join a league</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Do the Wordle</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Upload your score</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Challenge your friends</div>
    </div>
</div>
