<!-- <div class="rules">
    <div class="rules__step">
        <div class="rules__step--text">Join a league</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Do the Wordle</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Upload your score</div>
    </div>
    <div class="rules__step--arrow"></div>
    <div class="rules__step">
        <div class="rules__step--text">Challenge your friends</div>
    </div>
</div> -->

<div class="howtoplay">
    <div class="howtoplay__top">
        <div class="league">
            <div class="league__header">
                <h2 class="league__name">The Fun Games</h2>
            </div>

            <table class="league__table">

                <colgroup>
                    <col span="1" style="width: 40%; text-align: left;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 4%;">
                    <col span="1" style="width: 10%;">
                </colgroup>

                <thead>
                    <th style="text-align: left;">Name</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>Fail</th>
                    <th>Points</th>
                </thead>
                <tr class="league__loggeduser">
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Dave</div>
                            <img src="../../assets/icons/trophy-gold.png" alt="Previous League Winner">
                            <img src="../../assets/icons/trophy-silver.png" alt="Previous League Runner Up">
                        </div>
                    </td>
                    <td><div>0</div></td>
                    <td><div>1</div></td>
                    <td><div>3</div></td>
                    <td><div class="league__today">6</div></td>
                    <td><div>4</div></td>
                    <td><div>2</div></td>
                    <td><div>0</div></td>
                    <td>17</td>
                </tr>
                <tr class="league__loggeduser">
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Dave</div>
                            <img src="../../assets/icons/trophy-gold.png" alt="Previous League Winner">
                            <img src="../../assets/icons/trophy-silver.png" alt="Previous League Runner Up">
                        </div>
                    </td>
                    <td><div>0</div></td>
                    <td><div>1</div></td>
                    <td><div>3</div></td>
                    <td><div class="league__today">6</div></td>
                    <td><div>4</div></td>
                    <td><div>2</div></td>
                    <td><div>0</div></td>
                    <td>17</td>
                </tr>
                <tr class="league__loggeduser">
                    <td class="league__user">
                        <div class="league__user--profile">
                            <div class="league__user--name">Dave</div>
                            <img src="../../assets/icons/trophy-gold.png" alt="Previous League Winner">
                            <img src="../../assets/icons/trophy-silver.png" alt="Previous League Runner Up">
                        </div>
                    </td>
                    <td><div>0</div></td>
                    <td><div>1</div></td>
                    <td><div>3</div></td>
                    <td><div class="league__today">6</div></td>
                    <td><div>4</div></td>
                    <td><div>2</div></td>
                    <td><div>0</div></td>
                    <td>17</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="howtoplay__middle">2</div>
    <div class="howtoplay__bottom">3</div>
</div>
