.rules {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    &__step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;

        &--arrow {
            width: 3rem;
            height: 5rem;
            background-color: blue;
            clip-path: polygon(30% 0%, 75% 0%, 75% 50%, 100% 50%, 52.5% 100%, 0% 50%, 30% 50%);
        }

    }
}

.howtoplay {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    align-items: center;
    justify-content: center;

    margin: 10vh 15rem 10vh 15rem;
    color: blue;

    height: 80vh;

    &__top {
        perspective: 180px;
        perspective-origin: 56% 50%;
        transition: all 2s;

        animation: gentleWibble 5s ease-in-out 0s infinite ;

        .league {
            user-select: none;
            position: relative;
            width: 50rem;
            transform: scale(1.1) rotateX(18deg) rotateY(-18deg) rotateZ(-15deg) translateX(-7rem) translateY(0px) translateZ(0px) skewX(1deg) skewY(0deg);
        }

        &:hover {
            perspective: 1000px;

            .league {
                backface-visibility: hidden;
                transform: scale(1) rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0px) translateZ(0px) skewX(0) skewY(0);
            }
        }
    }
}

@keyframes gentleWibble {
    0% { perspective: 180px; }
    50% { perspective: 360px; }
    100% { perspective: 180px; }
}
