@import "../../styles.scss";

.leagues {

    position: relative;

    overflow-y: hidden;
    overflow-x: hidden;

    padding: 2rem 4rem 2rem 6rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media screen and (max-width: $breakpoint-mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        @media screen and (max-width: $breakpoint-mobile) {
            margin-bottom: 1rem;
        }
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .input__button {
            margin-top: 1rem;
        }

        @media screen and (max-width: $breakpoint-mobile) {
           align-items: center;
           justify-content: center;
           margin-bottom: 1rem;
        }
    }

    &__code-copy {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        padding: 2rem 4rem;
        background-color: var(--eggshell);
        border: .2rem solid var(--main-green);
        box-shadow: 0 .4rem .7rem rgba(black, .5);
        opacity: 1;
        text-align: center;
        z-index: 991000000;
        border-radius: 1rem;

        animation: opacity100to0 1s ease-in-out 9.8s 1 forwards;

        &--text {
            font-size: 2rem;
        }

        &--remove {
            position: absolute;
            top: 0;
            right: -3.5rem;
            width: 2.5rem;
            height: 2.5rem;
            border: .1rem solid rgba(black, .5);
            box-shadow: 0 .3rem .6rem rgba(black, .5);
            background-color: var(--main-green);
            transition: all .2s;
            font-size: 1.6rem;
            border-radius: .5rem;

            &:hover {
                cursor: pointer;
                background-color: var(--main-yellow);
                transform: translateY(-.2rem);
            }
        }
    }

    &__create-container {
        max-height: 0;
        opacity: 0;
    }

    &__create-container--animate {
        animation:  maxHeightTo100 1s ease-in-out 0s 1 forwards,
                    opacity0to100 1s ease-in-out 0s 1 forwards;
    }

    &__create-container--animate-out {
        animation:  opacity100to0 1s ease-in-out 0s 1 forwards,
                    maxHeightTo0 1s ease-in-out 0s 1 forwards;
    }

    &__none {
        width: 30rem;
        padding: 2rem 4rem;
        margin: 10rem auto 0 auto;
        font-size: 2rem;
        background-color: var(--eggshell);
        border: .2rem solid var(--main-green);
        box-shadow: 0 .4rem .7rem rgba(black, .5);
        border-radius: 1rem;
        text-align: center;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 1rem 1rem;
    }

}

.input__button {
    margin-left: 1rem;
    padding: .3rem 2rem;
    text-align: center;
}

.league {

    position: relative;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: .2rem solid rgba(black, .1);
    box-shadow: 0 .4rem .8rem rgba(black, .5);
    border-radius: .7rem;
    transition: all .2s;

    @media screen and (max-width: $breakpoint-mobile) {
        margin: 1rem .5rem;
        padding: .5rem 2rem;
    }

    &:hover {
        transform: translateY(-.2rem);
        background-color: var(--eggshell);
        box-shadow: 0 .6rem 1.2rem rgba(black, .7);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__admin-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__today {
        background-color: var(--main-yellow);
        border-radius: .6rem;
        padding: .3rem .5rem;
        margin-top: -.3rem;
        margin-bottom: -.3rem;
    }

    &__control {
        position: relative;
        border-radius: 1rem;
        padding: .5rem 2rem;
        transition: width .3s, opacity .2s .2s, transform .2s;
        color: var(--eggshell);
        box-shadow: 0 .3rem .6rem rgba(black, .5);
        width: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &--darkyellow { background-color: var(--main-darkyellow); }
        &--yellow { background-color: var(--main-yellow); }
        &--green { background-color: var(--main-darkgreen); }

        &--text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 13rem;
            transform: translateX(-50%) translateY(-50%) scale(0);
            text-align: center;
            font-size: 1.4rem;
            opacity: 0;
            transition: transform .2s;
        }

        &--small { font-size: 1.2rem; font-weight: lighter; }

        @media screen and (min-width: $breakpoint-mobile) {
            &:hover {
                cursor: pointer;
                background-color: var(--main-yellow);
                color: var(--main-green);
                font-weight: bold;
                box-shadow: 0 .6rem .9rem rgba(black, .7);
                width: 13rem;

                .league__control--text {
                    color: black;
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1);
                }

                img {
                    opacity: 0;
                }
            }
        }


        &--notext {
            &:hover {
                width: auto;

                img { opacity: 1 }
            }
        }

        &:active { transform: translateY(-.3rem); }

        &:not(:last-of-type) { margin-right: 1rem; }

        @media screen and (max-width: $breakpoint-mobile) {
            padding: .5rem 1rem;
            width: 2rem;

            img { width: 2rem; }

            &:not(:last-of-type) { margin-right: .7rem; }
        }


    }

    &__name {
        padding-bottom: .5rem;
        border-bottom: .3rem solid var(--main-green);
    }

    &__table {
        padding-top: 1rem;
        font-size: 1.4rem;
        width: 100%;
        border-spacing: 0;

        @media screen and (max-width: $breakpoint-mobile) {
            width: 90%;
        }

        thead {
            font-weight: bold;
        }

        tr, th, td {
            &:first-child { border-top-left-radius: 1rem; border-bottom-left-radius: 1rem; }
            &:last-child { border-top-right-radius: 1rem; border-bottom-right-radius: 1rem; }
        }

        tr {
            font-weight: normal;
        }

        th, td {
            text-align: center;
            padding: .5rem;
            vertical-align: baseline;

            .league__control {
                padding: .3rem 1rem;

                img {
                    width: 1rem;
                    filter: invert(1);

                }
            }
        }

    }

    &__loggeduser {
        background-color: rgba(#bbbbbb, .7);
    }

    &__user {

        display: flex;
        justify-content: space-between;

        &--profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                margin-left: 1rem;
                width: 1.6rem;
            }
        }

        &--status {
            display: flex;

            @media screen and (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
        &--tag {
            padding: .2rem .6rem;
            margin-top: -.2rem;
            margin-bottom: -.2rem;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 1.2rem;
            border: .1rem solid rgba(black, .2);
            border-radius: .2rem;

            &:not(:last-of-type) {
                margin-right: .5rem;
            }
        }


    }
}

.nomobile {
    @media screen and (max-width: $breakpoint-mobile) {
        display: none;
    }
    @media screen and (min-width: $breakpoint-mobile) {
        display: auto;
    }
}

.mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        display: auto;
    }
    @media screen and (min-width: $breakpoint-mobile) {
        display: none;
    }
}
