<div class="leagues">

    <div class="leagues__header">
        <h1 class="leagues__title">Your Leagues</h1>
        <div class="leagues__add">
            <input class="leagues__add--input" type="text" placeholder="League Code...">
            <button class="leagues__add--button">Add League</button>
        </div>
    </div>

    <div class="league" *ngFor="let league of leagues">

        <div class="league__header">
            <h2 class="league__name">{{ league.name }}</h2>
            <div class="league__admin-controls">


                <div class="league__control league__control--darkyellow">
                    <div class="league__control--text">Delete League</div>
                    <img src="../../assets/icons/trash.png" alt="Delete League" (click)="deleteLeague(league._id)">
                </div>
                <div class="league__control league__control--yellow">
                    <div class="league__control--text">Restart League</div>
                    <img src="../../assets/icons/cycle.png" alt="Restart League" (click)="restartLeague(league._id)">
                </div>
                <div class="league__control league__control--green">
                    <div class="league__control--text">Copy League Code</div>
                    <img src="../../assets/icons/copy.png" alt="Copy League Code" (click)="addLeaguecodeToClipboard(league._id)">
                </div>
                <div class="league__control league__control--darkyellow">
                    <div class="league__control--text">Leave League</div>
                    <img src="../../assets/icons/exit.png" alt="Leave League" (click)="leaveLeague(league._id)">
                </div>

                <div class="league__control league__control--green" *ngIf="league.notificationsAllowed" (click)="toggleNotifications()">
                    <div class="league__control--text">Notifications</div>
                    <img src="../../assets/icons/bell.png" alt="Turn notifications on/off">
                </div>
            </div>
        </div>

        <table class="league__table">

            <colgroup>
                <col span="1" style="width: 1%;">
                <col span="1" style="width: 40%; text-align: left;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 10%;">
            </colgroup>

            <thead>
                <th> </th>
                <th>Name</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>Fail</th>
                <th>Points</th>
            </thead>
            <tr *ngFor="let user of league.members">
                <td class="league__user-admin">
                    <div class="league__control league__control--darkyellow" (click)="removeUserFromLeague(league._id, user._id)">
                        <div class="league__control--text league__control--small">Delete Member</div>
                        <img src="../../assets/icons/trash.png" alt="Delete User">
                    </div>
                </td>
                <td class="league__user">
                    <div class="league__user--profile">
                        <div class="league__user--name">{{ user.name }}</div>
                        <img src="../../assets/icons/trophy-gold.png" alt="Previous League Winner" *ngIf="user.tags.pastWinner">
                        <img src="../../assets/icons/trophy-silver.png" alt="Previous League Runner Up" *ngIf="user.tags.pastRunnerUp">
                    </div>
                    <div class="league__user--status">
                        <div class="league__user--tag" *ngIf="user.tags.admin">Admin</div>
                    </div>
                </td>
                <td [class.league__today]="user.today === 1">{{ user.score[1] }}</td>
                <td [class.league__today]="user.today === 2">{{ user.score[2] }}</td>
                <td [class.league__today]="user.today === 3">{{ user.score[3] }}</td>
                <td [class.league__today]="user.today === 4">{{ user.score[4] }}</td>
                <td [class.league__today]="user.today === 5">{{ user.score[5] }}</td>
                <td [class.league__today]="user.today === 6">{{ user.score[6] }}</td>
                <td [class.league__today]="user.today === 0">{{ user.score.fail }}</td>
                <td>{{ calculateMemberPoints(user) }}</td>
            </tr>
        </table>
    </div>

</div>
