<div class="leagues">

    <div class="leagues__header">
        <h1 class="leagues__title">Your Leagues</h1>
        <div class="leagues__add">
            <input class="leagues__add--input" type="text" placeholder="League Code...">
            <button class="leagues__add--button">Add League</button>
        </div>
    </div>

    <div class="league">

        <div class="league__header">
            <h2 class="league__name">Pavanders League</h2>
            <div class="league__admin-controls">
                <div class="league__control league__control--darkyellow">
                    <div class="league__control--text">Delete League</div>
                    <img src="../../assets/icons/trash.png" alt="Delete League">
                </div>
                <div class="league__control league__control--yellow">
                    <div class="league__control--text">Restart League</div>
                    <img src="../../assets/icons/cycle.png" alt="Restart League">
                </div>
                <div class="league__control league__control--green">
                    <div class="league__control--text">Copy League Code</div>
                    <img src="../../assets/icons/copy.png" alt="Copy League Code">
                </div>
                <div class="league__control league__control--darkyellow">
                    <div class="league__control--text">Leave League</div>
                    <img src="../../assets/icons/exit.png" alt="Leave League">
                </div>
            </div>
        </div>

        <table class="league__table">

            <colgroup>
                <col span="1" style="width: 1%;">
                <col span="1" style="width: 40%; text-align: left;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 10%;">
            </colgroup>

            <thead>
                <th> </th>
                <th>Name</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>Fail</th>
                <th>Points</th>
            </thead>
            <tr>
                <td class="league__user-admin">
                    <div class="league__control league__control--darkyellow">
                        <div class="league__control--text">Delete Member</div>
                        <img src="../../assets/icons/trash.png" alt="Delete User">
                    </div>
                </td>
                <td class="league__user">
                    <div class="league__user--name">Alex Bunting</div>
                    <div class="league__user--status">
                        <div class="league__user--tag">Admin</div>
                    </div>
                </td>
                <td>0</td>
                <td>1</td>
                <td>5</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
                <td>34</td>
            </tr>
        </table>
    </div>

</div>
