<div class="notification" *ngIf="leagues.length > 0">
    <!-- for all leagues for which there is a notification -->
    <div class="notification__league" *ngFor="let league of leagues">
        <div class="notification__league--name">
            {{ league }}
        </div>
        <div class="notification__user {{user._id}}" *ngFor="let user of getLeagueUsers(league)">
            <div class="notification__user--control">
                <div class="notification__user--delete" (click)="removeNotification(user)">X</div>
                <div class="notification__user--name">{{ user.name }}</div>
            </div>
            <div class="notification__user--score">
                <div class="notification__user--correct" *ngFor="let val of getScoreAsArray(user.score)">🟩</div>
            </div>
        </div>
    </div>
</div>
