.login {

    width: 40rem;
    margin: 5rem auto;
    margin-bottom: 0;
    border-radius: .7rem;
    background-color: var(--eggshell);
    padding: 2rem;
    box-shadow: 0 .4rem .8rem rgba(black, .5);

    &__title {
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

}

.form {

    width: 100%;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }

    &__text {
        text-align: left;
        margin-right: 2rem;
    }

    &__input {
        text-align: right;
    }
}


.wordle-lettering__custom {

    text-align: center;

    & > * {
        width: 1.5rem;
    }

    &--valid {
        &:hover {
            cursor: pointer;



            .letter_1 { animation-delay: 0s; }
            .letter_2 { animation-delay: .2s; }
            .letter_3 { animation-delay: .4s; }
            .letter_4 { animation-delay: .6s; }
            .letter_5 { animation-delay: .8s; }

            & > * {
                background-color: var(--main-darkyellow);
                animation: scalePulse .8s ease-in-out;
                animation-iteration-count: 1;
                animation-direction: forwards;
            }
        }
    }

    &--invalid {
        & > * {
            background-color: var(--main-gray);
        }
    }
}
