*, *::before, *::after {
    margin: 0;
    padding: 0;
}

:root {
    --main-green: #6aaa64;
    --main-darkgreen: #538d4e;
    --main-yellow: #c9b458;
    --main-darkyellow: #b59f3b;
    --main-lightGray: #d8d8d8;
    --main-gray: #86888a;
    --main-darkgray: #939598;
    --black: #212121;
    --eggshell: #F0EAD6;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;

    @media screen and (max-width: 1300px) { font-size: 50%; }
    // @media screen and (max-width: 800px) {  font-size: 37.5%; }
    // @media screen and (max-width: 600px) {  font-size: 25%; }
}

body {
    box-sizing: border-box;
}

p {
    line-height: 1.9rem;
    letter-spacing: .15rem;
    font-size: 1.4rem;
}

.delete {
    animation:  opacity100to0 .5s ease-in-out 0s 1 forwards,
                scaleTo0 .5s ease-in-out 0s 1 forwards,
                maxHeightTo0 .5s ease-in-out 0s 1 forwards;
}

.input__text {
    border-radius: .5rem;
    padding: .4rem .6rem;
    background-color: transparent;
    padding-bottom: .5rem;
    border: none;
    border-bottom: .2rem solid var(--main-green);
    transition: all .2s;
    width: 80%;
    text-align: left;
    letter-spacing: .1rem;

    &:focus {
        outline: none;
        background-color: white;
        padding-bottom: .3rem;
        border-bottom-width: .4rem;
        transform: scale(1.1);
    }

    &:invalid {
        background-color: var(--main-darkyellow);
    }

    &--error { border-color: red; }
}

.input__textarea {
    border-radius: .5rem;
    padding: .4rem .6rem;
    background-color: transparent;
    padding-bottom: .5rem;
    border: none;
    border-bottom: .2rem solid var(--main-green);
    transition: all .2s;
    width: 100%;
    height: 8rem;
    text-align: left;
    letter-spacing: .1rem;

    &:focus {
        outline: none;
        background-color: white;
        padding-bottom: .3rem;
        border-bottom: .4rem solid var(--main-green);
        transform: scale(1.1);
    }

    &:invalid {
        background-color: var(--main-darkyellow);
    }

}
// .input__button {
//     border-radius: 1rem;
//     padding: .5rem 2rem;
//     background-color: var(--main-darkgreen);
//     transition: all .2s;
//     color: var(--eggshell);
//     box-shadow: 0 .3rem .6rem rgba(black, .5);
//     margin-right: .5rem;

//     &:hover {
//         cursor: pointer;
//         background-color: var(--main-yellow);
//         color: var(--main-green);
//         font-weight: bold;
//         box-shadow: 0 .6rem .9rem rgba(black, .7);
//     }

//     &:active {
//         transform: translateY(-.3rem);
//     }

// }

.input__button {
    background-color: var(--main-green);
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .6rem rgba(black, .5);
    font-size: 1.6rem;
    transition: all .2s;
    color: rgba(black, .7);
    // border: .1rem solid rgba(black, .2);
    border: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.1) translateY(-.1rem);
        box-shadow: 0 .5rem .9rem rgba(black, .7);
    }

    &:active {
        transform: scale(1) translateY(0rem);
    }
}

.wordle-lettering {

    display: flex;
    justify-content: flex-end;

    &__letter {
        padding: .8rem 1rem;
        margin-right: .3rem;
        color: rgba(black, .7);
        font-weight: bold;
        transition: all .2s;

        &--gray { background-color: var(--main-gray); }
        &--green { background-color: var(--main-green); }
        &--yellow { background-color: var(--main-yellow); }
    }
}


@keyframes opacity0to100 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes opacity0to80 {
    0% { opacity: 0; }
    100% { opacity: .8; }
}

@keyframes opacity100to0 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes maxHeightTo0 {
    100% { max-height: 0; }
}

@keyframes maxHeightTo100 {
    100% { max-height: 100rem; }
}

@keyframes toBold {
    100% { font-weight: 700; }
}

@keyframes scaleTo0 {
    100% { transform: scale(0); }
}

@keyframes scaleTo1 {
    100% { transform: scale(1); }
}

@keyframes scalePulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes transformXto0 {
    100% { transform: translateX(0);}
}
