<div class="signup">
    <h2 class="signup__title">SignUp</h2>

    <form class="form">
        <div class="form__row">
            <div class="form__text">Email Address</div>
            <div class="form__input">
                <input type="text" class="form__input--textbox">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text">Display Name</div>
            <div class="form__input">
                <input type="text" class="form__input--textbox">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text">Password</div>
            <div class="form__input">
                <input type="password" class="form__input--textbox">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text">Repeat Password</div>
            <div class="form__input">
                <input type="password" class="form__input--textbox">
            </div>
        </div>
        <div class="form__row">
            <div class="form__text"></div>
            <div class="form__input">
                <button class="form__input--button" type="submit">Register</button>
            </div>
        </div>
    </form>
</div>
